.consultation {
    min-height: 680px;
    background: url('img/consultation/consultation.png');
    &__title {
        padding-top: 100px;
        max-width: 799px;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subtitle {
        padding-top: 8px;
        max-width: 426px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;

    }
    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 18px;
        &_input {
            padding: 12px 21px 12px 21px;
            margin-bottom: 11px;
            width: 303px;
            border-radius: 5px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}