.footer {
    height: 630px !important;
    position: relative !important;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: #c70101;
        padding: 50px 68px 60px 68px;
    }
    &__address {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
        font-style: normal;
    }
    &__phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        margin-bottom: 38px;

    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        border: 2px solid #FFFFFF;
        margin: 0 15px;
        border-radius: 100%;
        img {
            height: 27px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}